body {
    font-family: Arial, sans-serif;
    background-color: #FFD580;
    margin: 0;
    padding: 0;
}

h1 {
    color: #343a40;
    text-align: center;
    padding-top: 20px;
}

.resultpage h1 {
    text-decoration-style: wavy;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.diabetic {
    background-color: #f8d7da; /* Light red background for diabetic message */
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

.notdiabetic {
    background-color: #d4edda; /* Light green background for not diabetic message */
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;

}

.notdiabetic p {
    text-align: center;
    font-size: 30px;
    color: #228b22;
    margin-left: 20px;
}

.diabetic p {
    text-align: center;
    font-size: 30px;
    color: #ff0000;
    margin-left: 10px;

}

.diabetic ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
}

.diabetic ul li {
    margin-bottom: 10px;
}


input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    font-size: 100px;
    color: #0000FF;
    margin-left: 20px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
